@import './colors.scss';
@import './font.scss';

body {
  margin: 0;
  padding: 0;
  // display the right font for each respective os
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}